/* Centrar el contenido */
body, html {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    font-family: Arial, sans-serif;
}

h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
}

/* Contenedor principal */
.container {
    text-align: center;
    max-width: 800px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* Estilos del formulario */
input[type="email"] {
    width: 50%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #28a745;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #218838;
}

#responseMessage {
    color: #28a745;
    margin-top: 15px;
}
